*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 25px;
}
