*{
    padding: 0;
    margin: 0;
}
.conatiner{
    
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.mycontent{
    border: 1px solid black;
    padding: 10px;
    width: 30%;
    height: 20vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    position: relative;
    top: 56%;
    background-color: rgb(225, 225, 45);
    
    
}
.btns{
    position:absolute;
    top: 85px;
    padding: 5px;
}
button{
    padding: 5px;
    margin: 5px;
    background-color: black;
    border: 1px;
    color: white;
    font-size: 20px;
}
button:hover{
    background-color: rgb(64, 60, 60);
}
h1{
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(3, 187, 58);
}